<h1>Season: <p-dropdown [options]="seasons" (onChange)="switchSeason($event.value)"></p-dropdown></h1>
<p-table #season [value]="summaries" styleClass="p-datatable-striped" responsiveLayout="scroll" *ngIf="season"
         (sortFunction)="customSort($event)" [customSort]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Manager</th>
      <th pSortableColumn="totalPoints">Total Points Scored <p-sortIcon field="totalPoints"></p-sortIcon></th>
      <th pSortableColumn="totalAgainst">Total Points Against <p-sortIcon field="totalAgainst"></p-sortIcon></th>
      <th pSortableColumn="wins">Record <p-sortIcon field="wins"></p-sortIcon></th>
      <th pSortableColumn="draft">Draft Position <p-sortIcon field="draft"></p-sortIcon></th>
      <th pSortableColumn="moves">Moves <p-sortIcon field="moves"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-summary>
    <tr *ngIf="summary.wins != 0 || summary.losses != 0">
      <td *ngIf="summary.id == 4; else notKenny"><a routerLink="/ForKenny">{{members[summary.id - 1].firstname}} {{members[summary.id - 1].lastname}}</a></td>
      <ng-template #notKenny><td>{{members[summary.id - 1].firstname}} {{members[summary.id - 1].lastname}}</td></ng-template>
      <td>{{summary.totalPoints | number: '1.0-2'}}</td>
      <td>{{summary.totalAgainst | number: '1.0-2'}}</td>
      <td *ngIf="summary.champion; else notChamp">{{summary.wins}} - {{summary.losses}} <img src="../../assets/trophy.png" style="height: 2em" /></td>
      <ng-template #notChamp><td>{{summary.wins}} - {{summary.losses}}</td></ng-template>
      <td>{{summary.draft}}</td>
      <td>{{summary.moves}}</td>
    </tr>
  </ng-template>
</p-table>

