<h1>Season: <p-dropdown [options]="seasons" (onChange)="switchSeason($event.value)"></p-dropdown></h1>
<p-table #season [value]="summaries" styleClass="p-datatable-striped" responsiveLayout="scroll" *ngIf="season"
         (sortFunction)="customSort($event)" [customSort]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Manager</th>
      <th pSortableColumn="totalPoints">Total Points Scored <p-sortIcon field="totalPoints"></p-sortIcon></th>
      <th pSortableColumn="totalAgainst">Total Points Against <p-sortIcon field="totalAgainst"></p-sortIcon></th>
      <th pSortableColumn="wins">Record <p-sortIcon field="wins"></p-sortIcon></th>
      <th pSortableColumn="draft">Draft Position <p-sortIcon field="draft"></p-sortIcon></th>
      <th pSortableColumn="moves">Moves <p-sortIcon field="moves"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-summary>
    <tr *ngIf="summary.totalPoints != 0">
      <td><p-button icon="pi pi-external-link" label="{{members[summary.id - 1].firstname}} {{members[summary.id - 1].lastname}}" styleClass="p-button-warning"
                    (onClick)="showRecords(summary.id)"></p-button></td>
      <td>{{summary.totalPoints | number: '1.0-2'}}</td>
      <td>{{summary.totalAgainst | number: '1.0-2'}}</td>
      <td *ngIf="summary.champion; else notChamp">{{summary.wins}} - {{summary.losses}} <img src="../../assets/trophy.png" style="height: 2em" /></td>
      <ng-template #notChamp><td>{{summary.wins}} - {{summary.losses}}</td></ng-template>
      <td>{{summary.draft}}</td>
      <td>{{summary.moves}}</td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="Individual Records" [(visible)]="showRecordWindow" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="true" *ngIf="showRecordWindow">
  <h3>{{members[summary.id -1].firstname}} {{members[summary.id -1].lastname}}'s Overall Record: {{summary.wins}} - {{summary.losses}}</h3>
  <h3>Weeks Against Highest Score: {{ weeksCount }}</h3>
  <p-table [value]="records" styleClass="p-datatable-striped white-text" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Opponent</th>
        <th>H2H Result</th>
        <th>Score Result</th>
        <th>Score</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
      <tr *ngIf="record.winnerId == summary.id; else loser">
        <td>{{members[record.loserId -1].firstname}} {{members[record.loserId -1].lastname}}</td>
        <td>W</td>
        <td>{{record.topHalf == true ? 'W' : 'L'}}</td>
        <td>{{record.winningScore}} - {{record.losingScore}}</td>
      </tr>
      <ng-template #loser>
        <tr>
          <td>{{members[record.winnerId -1].firstname}} {{members[record.winnerId -1].lastname}}</td>
          <td>L</td>
          <td>{{record.topHalf == true ? 'W' : 'L'}}</td>
          <td>{{record.losingScore}} - {{record.winningScore}}</td>
        </tr>
      </ng-template>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="showRecordWindow=false" label="Close" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
