<p-toolbar>
  <div class="p-toolbar-group-left">
      <p-button label="Home" aria-label="Home" icon="pi pi-home" routerLink=""></p-button>
      <p-button label="League Members" aria-label="League Members" styleClass="p-button-success" icon="pi pi-user" routerLink="/Members"></p-button>
  </div>
  <div class="p-toolbar-group-right"><p style="color:'powderblue'; font-family:'Lucida Handwriting',cursive">Courtesy of N-Dog</p></div>
</p-toolbar>

<router-outlet></router-outlet>
<p-scrollTop></p-scrollTop>
