<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="Home" aria-label="Home" icon="pi pi-home" routerLink=""></p-button>
    <p-button label="Alt Record" aria-label="Alt Record" icon="pi pi-eye" routerLink="/TopHalf"></p-button>
    <p-button label="All Matches" aria-label="Results" styleClass="p-button-success" icon="pi pi-info-circle" routerLink="/Results"></p-button>
    <p-button label="League Members" aria-label="League Members" styleClass="p-button-success" icon="pi pi-user" routerLink="/Members"></p-button>
    <p-button label="Luck" aria-label="Luck" styleClass="p-button-success" icon="pi pi-thumbs-up" routerLink="/Luck"></p-button>
    <p-button label="Ouch" aria-label="Ouch" styleClass="p-button-success" icon="pi pi-thumbs-down" routerLink="/Ouch"></p-button>
  </div>
  <div class="p-toolbar-group-right"><p style="color:'powderblue'; font-family:'Lucida Handwriting',cursive">Courtesy of N-Dog</p></div>
</p-toolbar>

<router-outlet></router-outlet>
<p-scrollTop></p-scrollTop>
