<h3>Lucky Win - Score bottom half and win.</h3>
<h3>Unlucky Loss - Score top half and lose.</h3>
<p-table #season [value]="luck" styleClass="p-datatable-striped" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Manager <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="luckyWins">Total Luck Wins <p-sortIcon field="luckyWins"></p-sortIcon></th>
      <th pSortableColumn="unluckyLosses">Total Unlucky Losses <p-sortIcon field="unluckyLosses"></p-sortIcon></th>
      <th>Lucky Weeks</th>
      <th>Unlucky Weeks</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-member>
    <tr>
      <td>{{member.name}}</td>
      <td>{{member.luckyWins}}</td>
      <td>{{member.unluckyLosses}}</td>
      <td><div *ngFor="let week of member.luckyWeeks"><span>{{week.season}}: week {{week.weekNumber}}</span></div></td>
      <td><div *ngFor="let week of member.unluckyWeeks"><span>{{week.season}}: week {{week.weekNumber}}</span></div></td>
    </tr>
  </ng-template>
</p-table>
