body{
  margin: 1%;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even){
  color: black;
  a {
    color: black;
    text-decoration: none;
  }
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) {
  a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
  }
}

.p-datatable.p-datatable-striped.white-text .p-datatable-tbody > tr:nth-child(even) {
  color: white !important;
  a {
    color: black;
    text-decoration: none;
  }
}

div .p-hidden-accessible{
  display: none !important;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover{
  color: black !important;
}

p-carousel.p-element {
  div.p-carousel, .p-carousel-content {
    div.p-carousel-content {
      background-color: #1f2d40;
    }
  }
}
